@using SporsalonuBYSS.Models
@model List<OrderDetail>
@{
    ViewBag.Title = "OrderDetailsIndex";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
    <section class="solid_banner_area">
        <div class="container">
            <div class="solid_banner_inner">
                <h3>Siparişlerim</h3>
                
            </div>
        </div>
    </section>
@foreach (OrderDetail item in Model)
{
    <div class="c_product_grid_details">
        <div class="c_product_item">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="c_product_img">
                        <img class="img-fluid" src="@Url.Content(item.Product.ImageUrl)" alt="">
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="c_product_text">
                        <h4> @item.Product.ProductName</h4>
                        <p>@item.Product.Description</p>
                      
                    </div>
                </div>
            </div>
        </div>




    </div>
}
