@using SporsalonuBYSS.Models
@model List<Basket>
@{
    ViewBag.Title = "UserOrderPage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*<h5>UserOrderPage</h5>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="~/Content/UserContent/img/fav-icon.png" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Persuit</title>

    <!-- Icon css link -->
    <link href="~/Content/UserContent/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/UserContent/vendors/line-icon/css/simple-line-icons.css" rel="stylesheet">
    <link href="~/Content/UserContent/vendors/elegant-icon/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/UserContent/css/bootstrap.min.css" rel="stylesheet">

    <!-- Rev slider css -->
    <link href="~/Content/UserContent/vendors/revolution/css/settings.css" rel="stylesheet">
    <link href="~/Content/UserContent/vendors/revolution/css/layers.css" rel="stylesheet">
    <link href="~/Content/UserContent/vendors/revolution/css/navigation.css" rel="stylesheet">

    <!-- Extra plugin css -->
    <link href="~/Content/UserContent/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/UserContent/vendors/bootstrap-selector/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/UserContent/vendors/jquery-ui/jquery-ui.css" rel="stylesheet">

    <link href="~/Content/UserContent/css/style.css" rel="stylesheet">
    <link href="~/Content/UserContent/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="~/Content/UserContent/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="~/Content/UserContent/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!--================Menu Area =================-->
    <!--================End Menu Area =================-->
    <!--================Categories Banner Area =================-->
    <section class="solid_banner_area">
        <div class="container">
            <div class="solid_banner_inner">
                <h3>Sipariş</h3>
                <ul>
                    <li><a href="~/Content/UserContent/#">Anasayfa</a></li>
                    <li><a href="~/Content/UserContent/#">Sipariş</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--================End Categories Banner Area =================-->
    <!--================Register Area =================-->
    <section class="register_area p_100">
        <div class="container">
            <div class="register_inner">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="billing_details">
                            <h2 class="reg_title">Sipariş Bilgileriniz</h2>
                            <form class="billing_inner row" method="post" action="@Url.Action("UserOrderPage","UserpOrder")">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="name">Ad <span>*</span></label>
                                        <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="" name="ShippedFirstName" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="last">Soyad <span>*</span></label>
                                        <input type="text" class="form-control" id="last" aria-describedby="last" name="ShippedLastName" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="address">Adres <span>*</span></label>
                                        <input type="text" class="form-control" id="address" aria-describedby="address" name="ShippedAdress" required>

                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="ctown">Şehir <span>*</span></label>
                                        <input type="text" class="form-control" id="ctown" aria-describedby="ctown" name="ShippedCity" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="ctown">İlçe <span>*</span></label>
                                        <input type="text" class="form-control" id="ctown" aria-describedby="ctown" name="ShippedTown" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="phone">Telefon <span>*</span></label>
                                        <input type="text" class="form-control" id="phone" aria-describedby="phone" name="ShippedPhone" required>
                                    </div>
                                </div>
                                <button  type="submit" value="submit" class="btn subs_btn form-control">sipariş ver</button>

                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="order_box_price">
                            <h2 class="reg_title">Siparişiniz</h2>
                            <div class="payment_list">
                                <div class="price_single_cost">
                                    @foreach (Basket b in Model)
                                    {
                                        <h5>@b.Product.ProductName <span>@b.Price</span></h5>
                                    }


                                    <h3>
                                        <span class="normal_text">Toplam Tutar</span> <span>
                                            @{
                                                Html.RenderAction("SumPrice", "UserpOrder");
                                            }
                                        </span>
                                    </h3>
                                   
                                </div>
                             
                            </div>
                       
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Register Area =================-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/UserContent/js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/UserContent/js/popper.min.js"></script>
    <script src="~/Content/UserContent/js/bootstrap.min.js"></script>
    <!-- Rev slider js -->
    <script src="~/Content/UserContent/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/UserContent/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/UserContent/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Content/UserContent/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Content/UserContent/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Content/UserContent/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Content/UserContent/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Content/UserContent/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <!-- Extra plugin css -->
    <script src="~/Content/UserContent/vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="~/Content/UserContent/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="~/Content/UserContent/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/UserContent/vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
    <script src="~/Content/UserContent/vendors/image-dropdown/jquery.dd.min.js"></script>
    <script src="~/Content/UserContent/js/smoothscroll.js"></script>
    <script src="~/Content/UserContent/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/UserContent/vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/UserContent/vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/UserContent/vendors/vertical-slider/js/jQuery.verticalCarousel.js"></script>
    <script src="~/Content/UserContent/vendors/jquery-ui/jquery-ui.js"></script>

    <script src="~/Content/UserContent/js/theme.js"></script>
</body>
</html>
