
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5>Anasayfa</h5>
      <p>Yönetici ana sayfasına hoşgeldiniz solda bulunan menülerden veritabanına erişebilir ekleme silme güncelleme ve listeleme işlemlerini yapabilirsiniz.</p>

