
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yönetici Sayfası</h2>
<br>

<h6>Yönetici sayfasına hoşgeldiniz.</h6>    
<p>Bu panelde solda gösterilen menülerden istediğiniz tabloya erişim sağlayıp tablo üzerinde değişiklikler yapabilirsiniz.</p>

